    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Massaad</h1>
                        <p class="intro-text">Alexander is a <a href="http://www.alexthegreat.ca"> Magician for kids</a> in Ottawa, an electronic music producer, an entrepreneur, Canadian <a href="http://www.atam.ca">record label</a> owner and works at <a href="http://www.shopify.com">Shopify</a>.<br>Created in Canada.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
